html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Open Sans', 'Roboto', 'Verdana', sans-serif;
}

ul,
li,
body,
p,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}
